html
{
  overflow-x: hidden;
}

section {
  padding: 40px 0;
}

/*Header*/

.header {
  height: 100px;
  width: 100%;
  background-color: white;
}
.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width:180px;
  height:120px;
  padding-top:10px;
}

/*navbar*/

.navbar {
  background-color: black;
  height: 55px;
  justify-content: center;
}
.navbar-collapse {
  background-color: black;
  padding: 0 24px;
}

.nav-link {
  margin: 0 20px;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #fff !important;
}

.nav-link.show {
  color: #fff !important;
}
.navbar-toggler {
  color: #fff;
  margin-bottom: 4px;
  border: 1px solid #fff;
}
.toggler-icon {
  color: #fff !important;
  padding: 4px;
  font-size: 24px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  /* box-shadow: 0 0 0 0.12rem; */
}
.navbar-collapse a {
  color: #fff;
}
.navbar-nav .nav-item .dropdown-menu {
  background-color: #DEAD94 !important;
  color: white !important;
}
/* card */
.card-img1 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Printed\ Lawn\ Unstitched\ Suit\ CL-42064\ A\ pic\ 1.jpg");
  background-size: cover;
}

.card-img1:hover {
  background-image: url("Assets/pictures/3PC\ Printed\ Lawn\ Unstitched\ Suit\ CL-42064\ A\ Pic\ 2.jpg");
}

.card-img2 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Lacquer\ Printed\ Embroidered\ Lawn\ Unstitched\ Suit\ with\ Lacquer\ Printed\ Paper\ Cotton\ Dupatta\ Pic\ 1.jpg");
  background-size: cover;
}

.card-img2:hover {
  background-image: url("Assets/pictures/3PC\ Lacquer\ Printed\ Embroidered\ Lawn\ Unstitched\ Suit\ with\ Lacquer\ Printed\ Paper\ Cotton\ Dupatta\ \ Pic\ 2.jpg");
}

.card-img3 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3Pcs\ Dobby\ Embroidered\ Suit\ KJP-43025\ pic\ 1.jpg");
  background-size: cover;
}

.card-img3:hover {
  background-image: url("Assets/pictures/3Pcs\ Dobby\ Embroidered\ Suit\ KJP-43025\ pic\ 2.jpg");
}

.card-img4 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Printed\ Embroidered\ Lawn\ Unstitched\ Suit\ with\ Printed\ Embroidered\ Dupatta\ Pic\ 1.jpg");
  background-size: cover;
}

.card-img4:hover {
  background-image: url("Assets/pictures/3PC\ Printed\ Embroidered\ Lawn\ Unstitched\ Suit\ with\ Printed\ Embroidered\ Dupatta\ Pic\ 2.jpg");
}

.card-img5 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Unstitched\ Printed\ Lawn\ Suit\ CLP-32285\ Pic\ 1.jpg");
  background-size: cover;
}

.card-img5:hover {
  background-image: url("Assets/pictures/3PC\ Unstitched\ Printed\ Lawn\ Suit\ CLP-32285\ Pic\ 2.jpg");
}

.card-img6 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Zanic\ dress\ by\ Lulusar\ Pic\ 2.jpg");
  background-size: cover;
}

.card-img6:hover {
  background-image: url("Assets/pictures/Zanic\ Dress\ by\ Lulusar\ pic\ 1.jpg");
}

.card-img7 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Embroidered\ Printed\ Lawn\ Unstitched\ Suit\ pic\ 1.jpg");
  background-size: cover;
}

.card-img7:hover {
  background-image: url("Assets/pictures/3PC\ Embroidered\ Printed\ Lawn\ Unstitched\ Suit\ pic\ 2.jpg");
}

.card-img8 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Unstitched\ Printed\ Lawn\ Suit\ CA-42014\ Pic\ 1.jpg");
  background-size: cover;
}

.card-img8:hover {
  background-image: url("Assets/pictures/3PC\ Unstitched\ Printed\ Lawn\ Suit\ CA-42014\ Pic\ 2\ .jpg");
}

.card-img9 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Unstitched\ Printed\ Lawn\ Suit\ CLP-32269\ B\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img9:hover {
  background-image: url("Assets/pictures/3PC\ Unstitched\ Printed\ Lawn\ Suit\ CLP-32269\ B\ Pic\ 2.jpg ");
}

.card-img10 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3PC\ Embroidered\ Printed\ Lawn\ Unstitched\ Suit\ with\ Gold\ Lacquer\ Printed\ Chiffon\ Dupatta\ BM-42011\ Pic\ 1.jpg");
  background-size: cover;
}

.card-img10:hover {
  background-image: url("Assets/pictures/3PC\ Embroidered\ Printed\ Lawn\ Unstitched\ Suit\ with\ Gold\ Lacquer\ Printed\ Chiffon\ Dupatta\ BM-42011\ Pic\ 2.jpg");
}

.card-img11 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/3\ Piece\ -\ Printed\ Suit\ -\ 42402009\ pic\ 1.jpg");
  background-size: cover;
}

.card-img11:hover {
  background-image: url("Assets/pictures/3\ Piece\ -\ Printed\ Suit\ -\ 42402009\ pic\ 2.jpg");
}

.card-img12 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Dobby\ Embroidered\ Co-Ord\ Set\ KST-43013\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img12:hover {
  background-image: url("Assets/pictures/Dobby\ Embroidered\ Co-Ord\ Set\ KST-43013\ Pic\ 2.jpg");
}

.card-img13 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/White\ Graphic\ T-Shirt\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img13:hover {
  background-image: url("Assets/pictures/White\ Graphic\ T-Shirt\ Pic\ 2.jpg");
}

.card-img14 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Premium\ Unisex\ Charcoal\ Oversized\ Tee\ Shirt\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img14:hover {
  background-image: url("Assets/pictures/Premium\ Unisex\ Charcoal\ Oversized\ Tee\ Shirt\ Pic\ 2.jpg");
}

.card-img15 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Sage\ Green\ Polo\ Shirt\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img15:hover {
  background-image: url("Assets/pictures/Sage\ Green\ Polo\ Shirt\ pic\ 2.jpg");
}

.card-img16 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Navy\ Tie-Front\ Crop\ Top\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img16:hover {
  background-image: url("Assets/pictures/Navy\ Tie-Front\ Crop\ Top\ Pic\ 2.jpg");
}

.card-img17 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Denim\ Puff\ Sleeves\ Top\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img17:hover {
  background-image: url("Assets/pictures/Denim\ Puff\ Sleeves\ Top\ Pic\ 2.jpg");
}

.card-img18 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Mustard\ Shirt\ with\ Double\ Pockets\ pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img18:hover {
  background-image: url("Assets/pictures/Mustard\ Shirt\ with\ Double\ Pockets\ pic\ 2.jpg");
}

.card-img19 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Black\ Silk\ Full\ Sleeves\ Shirt\ pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img19:hover {
  background-image: url("Assets/pictures/Black\ Silk\ Full\ Sleeves\ Shirt\ Pic\ 2.jpg");
}

.card-img20 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Classic\ Patterned\ Top\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img20:hover {
  background-image: url("Assets/pictures/Classic\ Patterned\ Top\ Pic\ 2.jpg");
}

.card-img21 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Ferozi\ Spread\ Collar\ Lining\ Top\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img21:hover {
  background-image: url("Assets/pictures/Ferozi\ Spread\ Collar\ Lining\ Top\ Pic\ 2.jpg");
}

.card-img22 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Light\ Brown\ Graphic\ Oversized\ T-Shirt\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img22:hover {
  background-image: url("Assets/pictures/Light\ Brown\ Graphic\ Oversized\ T-Shirt\ Pic\ 2.jpg");
}

.card-img23 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Peach\ Self\ Check\ Georgette\ Silk\ Co-Ord\ Set\ pic1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img23:hover {
  background-image: url("Assets/pictures/Peach\ Self\ Check\ Georgette\ Silk\ Co-Ord\ Set\ pic\ 2.jpg");
}

.card-img24 {
  width: 100%;
  height: 400px;
  border-radius: 7px 7px 0 0;
  background-image: url("Assets/pictures/Purple\ Crocus\ V-Neck\ Top\ Pic\ 1.jpg");
  background-size: cover;
  background-position: center;
}

.card-img24:hover {
  background-image: url("Assets/pictures/Purple\ Crocus\ V-Neck\ Top\ Pic\ 2.jpg");
}

.card-body {
  padding: 1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.card-title {
  width: 260px;
  margin-top: -10px;
  margin-left: -13px;
  font-weight: 500;
  font-size: 15px;
}

.price-crossed {
  text-decoration: line-through;
}

.card-price {
  margin-left: -13px;
  font-size: 1rem;
  font-weight: bold;
}

.card-description {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  margin-bottom: 0rem;
}

.card-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}
.card-button a {
  text-decoration: none;
}

.card-button-inner {
  padding: 10px;
  border-radius: 3px;
}

.shopnow-button {
  background: #DEAD94;
  color: black;
}

.shopnow-button:hover {
  background-color:#DEAD94;
  color: white;
}

.details-button {
  border: 1px solid #DEAD94;
  color: #DEAD94;
}

.details-button:hover {
  background-color: #DEAD94;
  color: white;
}

/*Customer-Service*/

.customer-service {
  height: 150px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 30px;
  gap: 150px;
}

.service1 {
  display: flex;
  margin-top: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
